#foot {
    width: 1500px;
    height: 150px;
}
.jumbotron {
    --bs-bg-opacity: 0.25;
    background-color: .bg-secondary.bg-gradient  /*rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important; */
}